<?php
return [
    'modules' => [
        MNHcC\ApigilityClient::class,
    ],
    'module_listener_options' => [
        'config_glob_paths'    => [
        ],
        'module_paths' => [
            'module',
            'vendor',
        ],
    ],
];
